body {
    background-color: #f5f1e5 !important;
}
nav {
    background-color: #B49CFF;
}
nav a {
    color: #F7FA28 !important;
    font-family: 'Abril Fatface', cursive;
}
.dropdown-menu.show {
    background-color: #9F80FA;
}
.jumbotron {
    background-color: #FAEF7F !important;
    color: #6147AD;
    font-family: 'Abril Fatface', cursive;
}
.btn.btn-outline-success.my-2.my-sm-0 {
    color: #FAEF7F;
    border-color: #FAEF7F;
}
h2 {
    font-family: 'Permanent Marker', cursive;  
    color: #9F80FA;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 21px;
}
.carousel.slide {
    padding-bottom: 30px;
}
.accordion.my-4 {
    font-family: 'Source Code Pro', monospace;
    color: #9F80FA;
    background-color: #FAEF7F !important;
}

.accordion.my-4 card {
    background-color: #FAEF7F !important;
}

.form-group {
    font-family: 'Source Code Pro', monospace;
    color: #9F80FA;
    
}

.btn.btn-primary {
    background-color: #6147AD !important;
    color: #FAEF7F;
}
