body {
    background-color: #fcedc0 !important;
}
nav {
    background-color: #B49CFF;
}
nav a {
    color: #F7FA28 !important;
    font-family: 'Abril Fatface', cursive;
}
.dropdown-menu.show {
    background-color: #9F80FA;
}
.jumbotron {
    background-color: #9F80FA !important;
    color: #FAEF7F;
    font-family: 'Abril Fatface', cursive;
    border: #ADA336 3px solid;
}
.btn.btn-outline-success.my-2.my-sm-0 {
    color: #FAEF7F;
    border-color: #FAEF7F;
}
h2 {
    font-family: 'Permanent Marker', cursive;  
    color: #9F80FA;
    font-size: 45px !important;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 21px;
}
.carousel.slide {
    margin-bottom: 30px;
    border: #ADA336 3px solid;
}
.accordion.my-4 {
    font-family: 'Source Code Pro', monospace;
    color: #9F80FA;
    background-color: #FAEF7F !important;
}

.accordion.my-4.card {
    background-color: #FAEF7F !important;
    color: #6147AD;
}

.form-group {
    font-family: 'Source Code Pro', monospace;
    color: #9F80FA;
    
}

.btn.btn-primary {
    background-color: #6147AD !important;
    color: #FAEF7F;
}

h6 {
    color: #6147AD;
    font-family: 'Abril Fatface', cursive;
    margin: 20px;
    padding-top: 20px;
    font-size: 21px !important;
}
